.hidden {
    display: none;
}

.bg_banner-2 {
    background-image: url(/assets/images/banner/biokap/02.jpg);
    height: 520px;
    border-radius: 6px;
}

.bg_banner-2 p.disc {
    color: black;
}

.single-category-one img {
    max-width: 100%;
}

.feature-product-area-single .inner-image {
    position: absolute;
    right: 0px;
    top: 22%;
    z-index: -1;
}



/*Mobile */
@media only screen and (max-width: 575px) {
    .feature-product-area-single .inner-image {
        right: -140px;
        top: 55%;
    }
}